<div class="pg-title">

    Add Product</div>

<div class="top-actions">
    <div>
        <button (click)="prod_list()" class="cta"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
</div>

<form class="add-frm" novalidate [formGroup]="frm_newProduct">
    <div class="frm-x2">
        <div class="form-group">
            <label for="productType">Product Type</label>
            <select formControlName="productType">
                <option *ngFor="let productType of productTypes" value="Tablet">{{productType.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="brand">Brand Name</label>
            <input formControlName="brand" (keydown)="onBrandKeydown()" type="text" class="form-control" required>

            <ul *ngIf="brandSuggest" class="input-sugestions">
                <li *ngIf="bLoading && brands.length === 0" class="input-sugestion">
                    <div class="text-center"><i class="fa fa-spin fa-spinner"></i></div>
                </li>
                <li *ngIf="!bLoading && brands.length === 0" class="input-sugestion">
                    <div class="text-center"><span>{{ brandText }}</span></div>
                </li>
                <li *ngFor="let brand of brands" (click)="brand_suggestion_click(brand)" class="input-sugestion">{{brand.STR}}</li>
            </ul>
        </div>
    </div>

    <div *ngIf="!productSuggest" class="enclosed-inputs">

        <div class="frm-x2">
            <div class="form-group">
                <label for="manufacturer">Manufacturer</label>
                <input formControlName="manufacturer" (keydown)="onBrandKeydown()" type="text" class="form-control" required>

                <ul *ngIf="manufacturerSuggest" class="input-sugestions">
                    <li *ngIf="mLoading && manufacturers.length === 0" class="input-sugestion">
                        <div class="text-center"><i class="fa fa-spin fa-spinner"></i></div>
                    </li>
                    <li *ngIf="!mLoading && manufacturers.length === 0" class="input-sugestion">
                        <div class="text-center"><span>{{ manufacturerText }}</span></div>
                    </li>
                    <li *ngFor="let manufacturer of manufacturers" (click)="brand_suggestion_click(manufacturer)" class="input-sugestion">{{manufacturer.name}}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="ingrident">Ingrident + Strength + Dose Form</label>
                <input formControlName="ingredient" (keydown)="onKeydown()" type="text" class="form-control" required>

                <ul *ngIf="ingredientSuggest" class="input-sugestions">
                    <li *ngIf="inLoading && ingredients.length === 0" class="input-sugestion">
                        <div class="text-center">
                            <i class="fa fa-spin fa-spinner"></i>
                        </div>
                    </li>
                    <li *ngIf="!inLoading && ingredients.length === 0" class="input-sugestion">
                        <div class="text-center">
                            <span>{{ ingredientText }}</span>
                        </div>
                    </li>
                    <li *ngFor="let ingredient of ingredients" (click)="ingreditent_suggestion_click(ingredient)" class="input-sugestion">{{ingredient.name}}</li>
                </ul>
            </div>
        </div>

        <div class="frm-x2">
            <div class="form-group">
                <label for="frequency">Product Image</label>
                <input formControlName="upload" type="file" class="form-control">
            </div>
            <div class="form-group">
                <label for="frequency">Regimen</label>
                <div class="regimen-wrap" formArrayName="regimens">
                    <div class="input-grp" *ngFor="let regimen of frm_newProduct.controls['regimens']['controls']; let i=index;">
                        <div [formGroupName]="i">
                            <div class="side-sect">
                                <label>Frequency
                                  <select formControlName="frequency">
                                      <option *ngFor="let frequency of frequencies">{{ frequency.name }}</option>
                                  </select>
                                </label>
                            </div>
                            <div class="mid-sect">FOR</div>
                            <div class="side-sect">
                                <label>Duration
                                <input placeholder="2" formControlName="duration" type="number" class="form-control" required>
                              </label>
                                <label>Unit
                                  <select formControlName="unit">
                                    <option *ngFor="let unit of durationUnits">{{ unit.name }}</option>
                                  </select>
                                </label>
                            </div>
                        </div>
                        <div class="plus-btn" *ngIf="frm_newProduct.controls['regimens']['controls'].length > 1" (click)="removeRegimen(i)">-</div>
                    </div>
                    <div class="plus-btn" (click)="addRegimen();">+</div>
                </div>
            </div>
        </div>
        <!-- remember to add drug form label -->
    </div>
</form>

<button class="cta">Save Product</button>