

<div class="pg-title">Add Product</div>

<div class="top-actions">
    <div>
        <button (click)="prod_list()" class="cta"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
</div>

<form class="add-frm" novalidate [formGroup]="frm_newProduct">
    <div class="frm-x2">
        <div class="form-group">
            <label for="productType">Product Type</label>
            <select formControlName="productType">
                <option *ngFor="let productType of productTypes" value="Tablet">{{productType.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="brand">Brand Name</label>
            <input formControlName="brand" (keydown)="onBrandKeydown()" type="text" class="form-control" required>

            <ul *ngIf="brandSuggest" class="input-sugestions">
                <li *ngFor="let brand of brands" (click)="brand_suggestion_click(brand)" class="input-sugestion">{{brand.STR}}</li>
            </ul>
        </div>
    </div>

    <div *ngIf="!productSuggest" class="enclosed-inputs">

        <div class="frm-x2">
            <div class="form-group">
                <label for="route">Route</label>
                <input formControlName="route" type="text" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="manufacturer">Manufacturer</label>
                <input formControlName="manufacturer" type="text" class="form-control" required>
            </div>
        </div>

        <div class="frm-x2">
            <div class="form-group">
                <label for="ingrident">Ingrident + Strength + Dose Form</label>
                <input formControlName="ingrident" (keydown)="onKeydown()" type="text" class="form-control" required>

                <ul *ngIf="ingredientSuggest" class="input-sugestions">
                    <li *ngFor="let ingredient of ingredients" (click)="ingreditent_suggestion_click()" class="input-sugestion">Abaloparatide Injection</li>
                </ul>

                <div class="div-tbl-wrap">
                    <ul class="div-tbl-head">
                        <li class="li-tbl-head-item">Ingredient</li>
                        <li class="li-tbl-head-item">Strength</li>
                    </ul>

                    <ul class="ul-tbl-body">
                        <li class="li-tbl-body-row">
                            <div class="row-item">Phenol melancoly biometanoate divide slice like a knife yeah?</div>
                            <div class="row-item">500mg</div>
                        </li>
                        <li class="li-tbl-body-row">
                            <div class="row-item">Phenol</div>
                            <div class="row-item">500mg</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="frequency">Regimen</label>
                <input formControlName="frequency" type="text" class="form-control" required>

                <div class="div-tbl-wrap">
                    <ul class="div-tbl-head">
                        <li class="li-tbl-head-item">Ingredient</li>
                        <li class="li-tbl-head-item">Strength</li>
                    </ul>

                    <ul class="ul-tbl-body">
                        <li class="li-tbl-body-row">
                            <div class="row-item">Phenol</div>
                            <div class="row-item">500mg</div>
                        </li>
                        <li class="li-tbl-body-row">
                            <div class="row-item">Phenol</div>
                            <div class="row-item">500mg</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- remember to add drug form label -->
    </div>
</form>

<button class="cta">Save Product</button>
