

<div class="pg-title">Add Product</div>

<div class="top-actions">
    <div>
        <button (click)="prod_list()" class="cta"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
</div>

<form class="add-frm" novalidate [formGroup]="frm_newProduct">
    <div class="frm-x2">
        <div class="form-group">
            <label for="productType">Product Type</label>
            <select formControlName="productType">
                <option *ngFor="let productType of productTypes" value="Tablet">{{productType.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="brand">Brand Name</label>
            <input formControlName="brand" (keydown)="onBrandKeydown()" type="text" class="form-control" required>

            <ul *ngIf="brandSuggest" class="input-sugestions">
                <li *ngFor="let brand of brands" (click)="brand_suggestion_click(brand)" class="input-sugestion">{{brand.STR}}</li>
            </ul>
        </div>
    </div>

    <div *ngIf="!productSuggest" class="enclosed-inputs">

        <div class="frm-x2">
            <div class="form-group">
                <label for="manufacturer">Manufacturer</label>
                <input formControlName="manufacturer" (keydown)="onBrandKeydown()" type="text" class="form-control" required>

                <ul *ngIf="brandSuggest" class="input-sugestions">
                    <li *ngFor="let brand of brands" (click)="brand_suggestion_click(brand)" class="input-sugestion">{{brand.STR}}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="ingrident">Ingrident + Strength + Dose Form</label>
                <input formControlName="ingrident" (keydown)="onKeydown()" type="text" class="form-control" required>

                <ul *ngIf="ingredientSuggest" class="input-sugestions">
                    <li *ngFor="let ingredient of ingredients" (click)="ingreditent_suggestion_click()" class="input-sugestion">Abaloparatide Injection</li>
                </ul>
            </div>
        </div>

        <div class="frm-x2">
            <div class="form-group">
                <label for="frequency">Product Image</label>
                <input formControlName="upload" type="file" class="form-control">
            </div>
            <div class="form-group">
                <label for="frequency">Regimen</label>
                <div class="regimen-wrap">
                    <div class="input-grp">
                        <div class="side-sect">
                            <input placeholder="2" formControlName="regFrequency" type="number" class="form-control" required>
                            <div class="x">X</div>
                            <select formControlName="regUnit">
                                <option>Daily</option>
                            </select>
                        </div>
                        <div class="mid-sect">FOR</div>
                        <div class="side-sect">
                            <input placeholder="2" formControlName="regDuration" type="number" class="form-control" required>
                            <select formControlName="durationUnit">
                                <option>Months</option>
                            </select>
                        </div>
                    </div>
                    <div class="plus-btn">+</div>
                </div>
            </div>
        </div>
        <!-- remember to add drug form label -->
    </div>
</form>

<button class="cta">Save Product</button>
