<div class="top-actions">

  <div class="inputs-wrap">
    <select class="srch-select" [formControl]="searchTypeInput">
      <option selected>All</option>
      <option>Branded Drug</option>
      <option>Generic Drug</option>
    </select>
    <input class="srch-txt" type="search" placeholder="Search" [formControl]="searchInput">
  </div>

  <div class="top-btn-wrap">
    <button (click)="create_prod()" class="cta"><i class="fa fa-plus"></i> Create Product</button>
  </div>

</div>

<div class="return-label">50 entries returned for
  <span class="keyword">"parace"</span>
</div>
<div>
  <ul class="return-lists">
    <li class="return-list" *ngFor="let brand of brands.data">
      <div class="main-returned">{{brand.STR}}</div>
      <div class="other-returned">
        <span class="val-label">Manufacturer:</span>{{brand?.MAT}}</div>
    </li>
  </ul>

  <!-- Pagination -->
  <div style="padding: 30px;">
      <app-pagination></app-pagination>
  </div>
</div>