<div class="onpg-modal-wrap">
    <div class="modal-title">Register</div>

    <form [formGroup]="registerGroup" novalidate>
        <div class="form-group">
            <label for="username">First Name</label>
            <input formControlName="firstName" type="text" class="form-control" autocomplete="on" required>
        </div>
        <div class="form-group">
            <label for="password">LastName</label>
            <input formControlName="lastName" type="text" class="form-control" autocomplete="on" required>
        </div>
        <div class="form-group">
            <label for="password">Email</label>
            <input formControlName="email" type="email" class="form-control" autocomplete="on" required>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input formControlName="username" type="text" class="form-control" autocomplete="on" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password" type="password" class="form-control" autocomplete="on" required>
        </div>

        <div class="btn-center-wrap">
            <button type="submit" (click)="onClickSignUp(registerGroup.valid, registerGroup.value)" class="btn btn-primary">Sign Up <i class="fa fa-sign-in"></i></button>
        </div>
        <div (click)="signin()" class="or-sect">already have an account? <span>Sign In</span></div>
    </form>
</div>