<div class="frm-main">
    <div class="main-minor-wrap">
        <div class="top-title"><span class="c1">APMIS</span><span class="c2">Formulary:Apmis</span></div>
        <div class="main-title">Search Product</div>

        <form novalidate [formGroup]="frm_newProduct">
            <div class="frm-x2">
                <div class="form-group">
                    <label for="productType">Product Type</label>
                    <select formControlName="productType">
                        <option *ngFor="let productType of productTypes" value="Tablet">{{productType.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="productName">Product Name</label>
                    <input formControlName="productName" (keydown)="onProductKeydown()" type="text" class="form-control" required>

                    <ul *ngIf="productSuggest" class="input-sugestions">
                        <li (click)="suggestion_click()" class="input-sugestion">Abaloparatide Injection</li>
                        <li (click)="suggestion_click()" class="input-sugestion">Bacillus Calmette-Guerin (BCG) Vaccine</li>
                        <li (click)="suggestion_click()" class="input-sugestion">Progestin-Only Oral Contraceptives</li>
                        <li (click)="suggestion_click()" class="input-sugestion">Abaloparatide Injection</li>
                        <li (click)="suggestion_click()" class="input-sugestion">Progestin-Only Oral Contraceptives</li>
                    </ul>
                </div>
            </div>

            <div class="seperator"></div>

            <div *ngIf="!productSuggest" class="enclosed-inputs">
                <div class="frm-x2">
                    <div class="form-group">
                        <label for="brand">Brand Name</label>
                        <input formControlName="brand" (keydown)="onBrandKeydown()" type="text" class="form-control" required>

                        <ul *ngIf="brandSuggest" class="input-sugestions">
                            <li *ngFor="let brand of brands" (click)="brand_suggestion_click()" class="input-sugestion">{{brand.STR}}</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="drugForm">Drug Form</label>
                        <input formControlName="drugForm" (keydown)="onKeydown()" type="text" class="form-control" required>

                        <ul *ngIf="suggest" class="input-sugestions">
                            <li (click)="suggestion_click()" class="input-sugestion">Abaloparatide Injection</li>
                            <li (click)="suggestion_click()" class="input-sugestion">Bacillus Calmette-Guerin (BCG) Vaccine</li>
                            <li (click)="suggestion_click()" class="input-sugestion">Progestin-Only Oral Contraceptives</li>
                            <li (click)="suggestion_click()" class="input-sugestion">Abaloparatide Injection</li>
                            <li (click)="suggestion_click()" class="input-sugestion">Progestin-Only Oral Contraceptives</li>
                        </ul>
                    </div>
                </div>
                <div class="frm-x2">
                    <div class="form-group" style="width:85%;">
                        <label for="ingrident">Ingrident and Strength</label>
                        <input formControlName="ingrident" (keydown)="onKeydown()" type="text" class="form-control" required>

                        <ul *ngIf="suggest" class="input-sugestions">
                            <li (click)="suggestion_click()" class="input-sugestion">Abaloparatide Injection</li>
                            <li (click)="suggestion_click()" class="input-sugestion">Bacillus Calmette-Guerin (BCG) Vaccine</li>
                            <li (click)="suggestion_click()" class="input-sugestion">Progestin-Only Oral Contraceptives</li>
                            <li (click)="suggestion_click()" class="input-sugestion">Abaloparatide Injection</li>
                            <li (click)="suggestion_click()" class="input-sugestion">Progestin-Only Oral Contraceptives</li>
                        </ul>
                    </div>
                    <i class="fa fa-plus frm-array-btn"></i>
                </div>
                <div class="frm-x2">
                    <div class="form-group">
                        <label for="route">Route</label>
                        <input formControlName="route" type="text" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="manufacturer">Manufacturer</label>
                        <input formControlName="manufacturer" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="frm-x2">
                    <div class="frm-x2-post">
                        <div class="form-group" style="width:49%;">
                            <label for="frequency">Frequency</label>
                            <input formControlName="frequency" type="text" class="form-control" required>
                        </div>
                        <div class="form-group" style="width:49%;">
                            <label for="unit">Unit</label>
                            <input formControlName="unit" type="text" class="form-control" required>
                        </div>
                    </div>
                    <i class="fa fa-plus frm-array-btn"></i>
                </div>
                <div class="seperator"></div>
                <div class="frm-x2" style="justify-content:flex-start;">
                    <div class="barcode-view">
                        <img src="../assets/images/qr.gif">
                    </div>
                    <div class="upload-btn-wrapper">
                        <button class="btn">Upload Barcode</button>
                        <input type="file" name="myfile" />
                    </div>
                </div>
            </div>
        </form>

        <button>Save Product</button>
    </div>
</div>