<div class="content-wrap">
  <div class="content-lhs">
      <legend class="txt1">
          Unique IDs for all registered drugs, interoperable invetory and logistic data reporting at no cost.
          <div class="txt-liner"></div>
      </legend>
      
  </div>
  <div class="content-rhs">
      <div class="img-round">
          <img class="img1" src="../assets/images/pills4.jpg">
      </div>
  </div>
</div>

<div class="cta-wrap">
<div (click)="signin()" class="cta">Sign In</div> 
<div (click)="signup()" class="cta">Register</div>
</div>